@font-face {
    font-family: Raleway;
    src: url(../font/Raleway-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Raleway;
    src: url(../font/Raleway-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Raleway;
    src: url(../font/Raleway-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@media(max-width:1440px) {
    body .header {
        padding: 50px 0
    }
    body .header .about-me {
        padding-top: 75px;
        padding-bottom: 75px
    }
    body .header .header__preview {
        display: none
    }
    body .header .header__preview-circle {
        display: block;
        align-self: center
    }
    body .header .header__preview-circle img {
        max-width: 700px;
        border: 3px solid #000;
        border-radius: 50%
    }
}

@media(max-width:1050px) {
    body .header .header__container {
        flex-wrap: wrap;
        justify-content: center
    }
    body .header .about-me {
        padding: 30px 0;
        align-items: center
    }
    body .header .about-me .about-me__title {
        text-align: center
    }
    body .header .about-me .about-me__profession {
        align-self: center
    }
    body .header .header__preview-circle img {
        max-width: 400px
    }
}

@media(max-width:1200px) {
    .main .main-container {
        flex-direction: column-reverse
    }
    .main .main-container .sidebar {
        max-width: 100%
    }
    .main .main-container .sidebar .connection .connection__item {
        padding-left: 150px
    }
    .main .main-container .experience .experience__descr,
    .main .main-container .main-content {
        max-width: 100%
    }
    .main::after {
        background-color: #292934 !important
    }
}

@media(max-width:768px) {
    .main .main-content .interest__hobbies {
        justify-content: center;
        flex-wrap: wrap
    }
}

@media(max-width:576px) {
    body .section-title {
        font-size: 26px
    }
    body .header {
        padding: 50px 0
    }
    body .header .about-me .about-me__title {
        font-size: 35px
    }
    body .header .about-me .about-me__profession {
        font-size: 15px
    }
    body .header .about-me .about-me__text .about-me__subtitle {
        font-size: 30px
    }
    body .header .header__preview {
        display: none
    }
    body .header .header__preview-circle {
        display: block;
        align-self: center
    }
    body .header .header__preview-circle img {
        max-width: 700px;
        border: 3px solid #000;
        border-radius: 50%
    }
    body .main .main-container {
        padding: 15px
    }
    body .main .main-container .main-content .reference .swiper .swiper-slide__title {
        font-size: 19px
    }
    body .main .main-container .main-content .reference .swiper .swiper-slide .reference__ref {
        bottom: 10px
    }
    body .main .main-container .main-content .reference .swiper .swiper-slide .reference__ref svg {
        width: 32px;
        height: 32px
    }
    body .main .main-container .main-content .reference .swiper .swiper-button-next::after,
    body .main .main-container .main-content .reference .swiper .swiper-button-prev::after {
        font-size: 35px
    }
    body .main .main-container .main-content .experience__position {
        font-size: 21px
    }
    body .main .main-container .main-content .experience__title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px
    }
    body .main .main-container .main-content .experience__title .experience__time {
        font-size: 14px
    }
    body .main .main-container .main-content .experience__title .experience__location {
        font-size: 18px
    }
    body .main .main-container .main-content .experience__descr {
        font-size: 19px
    }
    body .main .main-container .sidebar .expertise .estimation {
        display: none
    }
    body .main .main-container .sidebar .education .education__major {
        font-size: 20px
    }
    body .main .main-container .sidebar .education .education__university {
        font-size: 18px
    }
    body .main .main-container .sidebar .connection .connection__item {
        padding-left: 100px
    }
    body .main .main-container .sidebar .connection .connection__item .item__title {
        font-size: 19px
    }
    body .main .main-container .sidebar .connection .connection__item .item__value {
        font-size: 16px
    }
    body .main .main-container .sidebar .connection .connection__item .link svg {
        max-width: 25px
    }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box
}

details,
main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: rgba(0, 0, 0, 0);
    color: inherit;
    text-decoration: none
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none;
    width: 100%
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}

*,
::after,
::before {
    box-sizing: inherit
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none
}

.btn-reset {
    padding: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    font-family: Raleway;
    font-weight: 400
}

.container {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1480px
}

.header .header__container {
    display: flex
}

.header .header__preview {
    position: relative;
    width: 100%;
    max-width: 600px;
    background-color: #e1e1e1
}

.header .header__preview img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    filter: grayscale(1)
}

.header .header__preview::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    height: 100%;
    background-color: #e1b204;
    opacity: .6
}

.header .about-me {
    display: flex;
    flex-direction: column;
    padding: 150px 0 150px 130px
}

.header .about-me__title {
    margin: 0 0 15px;
    font-size: 50px;
    font-weight: 700;
    color: #242439;
    text-transform: uppercase
}

.header .about-me__title span {
    font-weight: 400
}

.header .about-me__profession {
    align-self: flex-start;
    margin: 0;
    padding: 8px 20px;
    font-weight: 400;
    font-size: 20px;
    background-color: #ffca05;
    border-radius: 15px
}

.header .about-me__text {
    margin: 50px 0 0
}

.header .about-me__subtitle {
    position: relative;
    margin: 0 0 40px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 35px;
    color: #242439;
    text-transform: uppercase
}

.header .about-me__subtitle::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90px;
    height: 5px;
    background-color: #ffca05
}

.header .about-me__descr {
    max-width: 1060px;
    font-size: 20px
}

.main {
    position: relative;
    padding: 90px 0 0;
    background-color: #292934
}

.main .main-container {
    display: flex;
    justify-content: space-between
}

.main .sidebar {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    z-index: 5
}

.main .sidebar .education__about {
    display: flex;
    flex-direction: column
}

.main .sidebar .education__about:not(:last-child) {
    margin-bottom: 45px
}

.main .sidebar .education__major {
    margin: 0 0 10px;
    font-size: 23px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #fff
}

.main .sidebar .education__university,
.main .sidebar .education__year {
    margin: 0 0 10px;
    font-size: 20px;
    color: #fff
}

.main .sidebar .expertise__list {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none
}

.main .sidebar .expertise__item {
    position: relative;
    align-items: center;
    font-size: 23px;
    color: #fff
}

.main .sidebar .expertise__item .expertise__item-title {
    display: block;
    max-width: 140px
}

.main .sidebar .expertise__item .estimation {
    position: absolute;
    top: 50%;
    right: 45px;
    transform: translateY(-50%);
    margin: 0;
    width: 40%;
    height: 3px;
    background-color: #5d5d6a
}

.main .sidebar .expertise__item .estimation .extimation-line {
    display: block;
    width: 0%;
    height: 100%;
    background-color: #ffca05
}

.main .sidebar .expertise__item .estimation .p70 {
    width: 70%
}

.main .sidebar .expertise__item .estimation .p50 {
    width: 50%
}

.main .sidebar .expertise__item .estimation .p40 {
    width: 40%
}

.main .sidebar .expertise__item .estimation .p35 {
    width: 35%
}

.main .sidebar .expertise__item .estimation .p30 {
    width: 30%
}

.main .sidebar .expertise__item .estimation .p90 {
    width: 90%
}

.main .sidebar .expertise__item .count {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 20px
}

.main .sidebar .connection {
    position: relative;
    width: 100%;
    margin-top: auto;
    padding: 40px 0
}

.main .sidebar .connection .connection__links {
    width: 100%
}

.main .sidebar .connection .connection__item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 35%
}

.main .sidebar .connection .connection__item .link:hover * {
    color: #e1b204;
    transition: .2s ease-in-out
}

.main .sidebar .connection .connection__item .link:hover .svg__tg {
    fill: #2787f5
}

.main .sidebar .connection .connection__item .link:hover .svg__github {
    fill: white;
}

.github{
    fill: white;
}

.main .sidebar .connection .connection__item .link:hover .svg__phone {
    fill: #a09494
}

.main .sidebar .connection .connection__item .link:hover .svg__mail {
    fill: #f85a29
}

.main .sidebar .connection .connection__item svg {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    fill: #2f303b
}

.main .sidebar .connection .connection__item .item__title {
    margin: 0 0 5px;
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #fff
}

.main .sidebar .connection .connection__item .item__value {
    margin: 0;
    font-size: 18px;
    color: #fff
}

.main .sidebar .connection .connection__item:not(:last-child) {
    margin-bottom: 30px
}

.main .sidebar .connection::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    background-color: #e1b204;
    z-index: -1
}

.main .sidebar .languages__list {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none
}

.main .sidebar .languages__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
    color: #fff
}

.main .sidebar .languages__item .level {
    color: #ffc801
}

.main .main-content {
    width: 100%;
    max-width: 700px;
    z-index: 5
}

.main .main-content .experience__position {
    margin: 0 0 20px;
    font-size: 23px;
    font-weight: bolder;
    color: #fff
}

.main .main-content .experience__time {
    margin: 0 15px 0 0;
    padding: 8px 25px;
    font-size: 16px;
    background-color: #ffca05;
    color: #22222d;
    border-radius: 10px
}

.main .main-content .experience__location {
    margin: 0;
    font-size: 23px;
    color: #fff
}

.main .main-content .experience__descr {
    font-size: 23px;
    max-width: 620px;
    color: #fff
}

.main .main-content .reference {
    position: relative
}

.main .main-content .reference .swiper {
    padding-right: 60px;
    overflow: hidden
}

.main .main-content .reference .swiper-wrapper {
    width: 100%;
    max-height: 620px
}

.main .main-content .reference .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px
}

.main .main-content .reference .swiper-slide iframe {
    max-height: 500px
}

.main .main-content .reference .swiper-slide .swiper-slide__title {
    margin: 0 0 20px;
    font-size: 23px;
    color: #fff
}

.main .main-content .reference .swiper-slide .reference__ref {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transform: translateX(-50%)
}

.main .main-content .reference .swiper-slide .reference__ref .disabled {
    filter: grayscale(1)
}

.main .main-content .reference .swiper-slide .reference__ref svg {
    width: 50px;
    height: 50px
}

.main .main-content .reference .swiper-button-next,
.main .main-content .reference .swiper-button-prev {
    width: 20px;
    height: 20px;
    color: #e1b204
}

.main .main-content .reference .swiper-button-prev {
    top: 45%;
    right: 20px;
    left: auto;
    transform: rotate(90deg)
}

.main .main-content .reference .swiper-button-next {
    top: 55%;
    right: 20px;
    left: auto;
    transform: rotate(90deg)
}

.main .main-content .reference .swiper-button-disabled {
    color: #f8f8f8
}

.main .main-content .interest__hobbies {
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    gap: 100px
}

.main .main-content .interest__pastime {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: #f8f8f8
}

.main .main-content .interest__pastime svg {
    width: 50px;
    height: 50px
}

.main .main-content .interest__pastime svg path {
    fill: #e1b204
}

.main::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 62%;
    height: 100%;
    background-color: #22222d
}

.section-title {
    position: relative;
    margin: 0 0 40px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase
}

.section-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 3px;
    background-color: #ffca05
}

.section:not(:last-child) {
    margin: 0 0 100px
}

.hidden {
    display: none
}